

.primary__button-regular:hover {
    background-color: rgba(84, 117, 82, 1);
    cursor: pointer;
}

.primary__button-small {
    width: 168px;
    height: 46px;
    background-color: var(--primary);
    cursor: pointer;
    border: none;
}

.secondary__button-small {
    padding: 15px 30px;
    border: 2px solid var(--primary);
    cursor: pointer;
    background-color: var(--light);
}



